<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Répertoire téléphonique</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
	  <h1 style="background-color:powderblue;">Répertoire téléphonique </h1>
		<h2 style="color:#f5434d;">Rechercher un numéro</h2>
		<form>
				<p>Nom: <strong>{{nomrecheche}}</strong> </p>
				<p>Numéro de téléphone: <strong>{{numtrouve}}</strong> </p>
				<!--p>{{repertoire}} </p>
				<p>{{nblignes}} </p!-->
				<a href="{{ url_for('menu') }}">Retour au menu principal</a>
	</body>
</html>
